.dropDownContainer {
    position: relative;
    z-index: 1;

    &-selector {
        position: relative;
        padding: 12px 16px;
        border: 2px solid $black;
        border-radius: 5px;
        width: 300px;
        cursor: pointer;
        color: $gray;
        font-weight: bold;
        box-shadow: 2px 2px 2px $gray;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.clicked {
            border-radius: 5px 5px 0 0 !important;
        }
        
        &-arrow {
            position: absolute;
            right: 16px;
            top: 9px;
            height: 24px;
            width: 24px;
            border: 2px solid $black;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
    
            img {
                height: 10px;
            }
        }
    }
}

.optionContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px $gray;
    width: 300px;

    &-option {
        position: relative;
        padding: 12px 16px;
        border: 2px solid $black;
        border-top: 0;
        background-color: $white;
        z-index: 4;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            background-color: $yellow;
            cursor: pointer;
        }

        &:last-child {
            border-radius: 0 0 5px 5px;
        }
    }
}