/* Colors */
$white:                             #ffffff;
$black:                             #393938;
$gray:                              rgba($black, .25);
$yellow:                            #ffc938